<!DOCTYPE html>
<html>

<head>
    <title>
        <%= blocks.title %>
    </title>

    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/app.css"/>

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>

<body>

<%- partial('../partials/topNavigation') %>

<header>
    <%- blocks.header %>
</header>

<%- body -%>


<footer class="container">
    <%- partial('../partials/footer') %>
</footer>

</body>

</html>